<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
    <link rel="stylesheet" href="/css/news_style.css">
    <link rel="stylesheet" href="/fa/css/all.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
<div class="container">
    <div class="section-tags">
        <div class="row">
            <div class="col-lg-12">
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Все новости</a>
                <a class="margin-top btn btn-warning" href="#">еще новости</a>
                <a class="margin-top btn btn-warning" href="#">тестовые новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Все новости</a>
                <a class="margin-top btn btn-warning" href="#">еще новости</a>
                <a class="margin-top btn btn-warning" href="#">тестовые новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Все новости</a>
                <a class="margin-top btn btn-warning" href="#">еще новости</a>
                <a class="margin-top btn btn-warning" href="#">тестовые новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
                <a class="margin-top btn btn-warning" href="#">Популярные новости</a>
            </div>
        </div>
    </div>
    <div class="section_news_popular">
        <div class="row background_popular">
            <h2>Популярные новости</h2>
            <div class="flex">
                <div class="news_item">
                    <img src="/image/news_item.jpg" alt="test">
                    <a class="title" href="#">
							<span>
								Будь на связи! 101.ru  в социальных сетях
							</span>
                    </a>
                    <div class="desc">
                        7 октября 2019 -
                        <span class="views">
                            <i class="fas fa-eye"></i>
								667549
							</span>
                    </div>
                    <a class="news_category" href="#">Новости радиостанций</a>
                </div>
                <div class="news_item">
                    <img src="/image/news_item.jpg" alt="test">
                    <a class="title" href="#">
							<span>
								Будь на связи! 101.ru  в социальных сетях
							</span>
                    </a>
                    <div class="desc">
                        7 октября 2019 -
                        <span class="views">
                            <i class="fas fa-eye"></i>
								667549
							</span>
                    </div>
                    <a class="news_category" href="#">Новости радиостанций</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section_news">
        <div class="row">
            {{#each news}}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 news_item">
                <img src="/image/news_item.jpg" alt="test">
                <a class="title" href="news/{{this._id}}">
							<span>
								{{this.title}}
							</span>
                </a>
                <div class="desc">
                    {{this.data}} -
                    <span class="views">
                        <i class="fas fa-eye"></i>
								667549
							</span>
                </div>
                <a class="news_category" href="#">Новости радиостанций</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
</body>
</html>