/*modifiers*/
.margin-top {
	margin-top: 5px;
}

/*news_popular*/
.section_news_popular {
	margin-top: 25px;
}

.section_news_popular .background_popular {
	background: url("../image/news-popular-bg.jpg") top center no-repeat;
    background-size: 100% 80%;
}

.section_news_popular .background_popular h2 {
	text-align: center;
	margin-top: 20px;
	color: white;
}

.section_news_popular .section_news_popular {
	margin-top: 30px;
}

.section_news_popular .background_popular .flex {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}

.section_news_popular .background_popular .news_item {
	height: 80%;
	width: 35%;
	padding: 15px;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
    transition: box-shadow .2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_news_popular .background_popular .news_item a.title {
	font-size: 17px;
	margin-top: 10px;
	color: #272727;
}

.section_news_popular .background_popular .news_item .desc {
	font-size: 14px;
	margin-top: 8px;
	color: #8d8d8d;
}

.section_news_popular .background_popular .news_item .news_category {
	font-size: 14px;
	margin-top: 15px;
	color: #8d8d8d;
}

.section_news_popular .background_popular .news_item img {
	width: 100%;
}

/*news*/
.section_news {
	margin-top: 40px;
}

.section_news .news_item img {
	width: 100%;
	margin-bottom: 10px;
}

.section_news .news_item {
	margin-top: 20px;
}

.section_news .news_item a.title {
	font-size: 17px;
	color: #272727;
}

.section_news .news_item .desc {
	font-size: 14px;
	margin: 8px 0 8px 0;
	color: #8d8d8d;

}

.section_news .news_item .news_category {
	font-size: 14px;
	color: #8d8d8d;
}

.section_news .news_item img {
	width: 100%;
}